.red-add, .red-remove {
  transition: all 4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.red,
.red-add.red-add-active {
  color: #FF0000;
  font-size: 40px;
}

.red-remove.red-remove-active {
  font-size: 10px;
  color: black;
}